<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <% variant = line_item.variant %>
  <%= item_form.hidden_field :id, value: line_item.id %>
  <tr>
    <td class="col-xs-2">
      <%= link_to potepan_line_item_path(line_item.id), class: "line_item_delete", method: :delete do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% end %>
      <span class="cartImage">
        <%= image_tag(line_item.image_pickup.url(:small), :alt => "image") %>
      </span>
    </td>
    <td class="col-xs-4"><%= link_to line_item.name, potepan_product_path(variant.product.id) %></td>
    <td class="col-xs-2"><%= line_item.single_money %></td>
    <td class="col-xs-2"><%= item_form.number_field :quantity, min: 0 , max: 100 %></td>
    <td class="col-xs-2 line_item_amount">
      <%= line_item.display_amount unless line_item.quantity.nil? %>
    </td>
  </tr>
<% end %>