<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>商品名</th>
        <th>価格</th>
        <th>数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "line_item", collection: line_items, locals: { order_form: order_form } %>
    </tbody>
  </table>
</div>
<div class="updateArea">
  <%= order_form.submit "アップデート", class: "btn" %>
</div>
<%= render "shared/check_amount", order: order %>
<div class="checkBtnArea">
  <%= order_form.button class: 'btn btn-primary btn-block', name: 'checkout' do %>
    購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
  <% end %>
</div>