<% title = "Cart" %>
<% provide :title, title %>
<%= render "shared/light_section", article_title: title %>
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <% unless @line_items.present? %>
            カートは空です。
          <% else %>
            <%= form_with model: @order, url: potepan_update_cart_path, local: true do |order_form| %>
              <%= render "order_form", order: @order, order_form: order_form, line_items: @line_items %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>