<div class="panel panel-default">  
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% categories.each do |taxonomy|%>
          <li>
            <%= link_to "javascript:;", data: { toggle: "collapse", target: "#taxonomy-id-#{ taxonomy.id }" } do %>
              <%= taxonomy.name %><i class="fa fa-plus"></i>
            <% end %>
            <ul id="taxonomy-id-<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.taxons.each do |taxon| %>
                <% if taxon.products.present? %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do%>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.products.size %>)</span></a>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>