<div class="panel panel-default filterNormal filterByColor">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% option_colors.each do |color| %>
        <li>
          <%= link_to potepan_category_path(taxon.id, value: color.presentation) do %>
            <%= color.presentation %>
            <span>(<%= products_count_for_option(value: color, category: taxon) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>