<div class="panel panel-default filterNormal filterBySize">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% option_sizes.each do |size| %>
        <li>
          <%= link_to potepan_category_path(taxon.id, value: size.presentation) do %>
            <%= size.presentation%>
            <span>(<%= products_count_for_option(value: size, category: taxon) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>