<div class="col-xs-6">
  <%= form_with url: potepan_category_path(taxon.id), method: "get" do |f| %>
    <%= f.hidden_field :value, value: params[:value] if params[:value] %>
    <%= f.select(:sort, [
        ["新着順", "NEW_PRODUCT"],
        ["古い順", "OLD_PRODUCT"],
        ["安い順", "LOW_PRICE"],
        ["高い順", "HIGH_PRICE"],
      ],{ selected: params[:sort] || "NEW_PRODUCT" },
      onchange: "this.form.submit();",
      class: "select-drop"
    )%>
  <% end %>
</div>