<% provide(:title, @category.name) %>
<%= render "shared/light_section", article_title: @category.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "categories_menu", categories: @taxonomies %>
        <%= render "color_menu", option_colors: @option_colors, taxon: @category %>
        <%= render "size_menu", option_sizes: @option_sizes, taxon: @category %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render "sort_menu", taxon: @category %>
        </div>
        <div class="row">
          <%= render partial: "potepan/products/product", collection: @products, locals: { layout: "col-sm-4 col-xs-12" } %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/partners_logo_slider" %>