<% provide(:title, @search_word) %>
<%= render "shared/light_section", article_title: @search_word %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: "potepan/products/product", collection: @products, locals: { layout: "col-sm-3 col-xs-12" } %>
    </div>
  </div>
</section>
<%= render "layouts/partners_logo_slider" %>