<% provide(:title, @product.name) %>
<%= render "shared/light_section", article_title: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "single_product", product: @product %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "product", collection: @related_products, locals: { layout: "col-md-3 col-sm-6 col-xs-12" } %>
    </div>
  </div>
</section>