<address>
  <span>Address:</span><br>
  <div class="address_details">
    <div>
      <strong><%= address.full_name %></strong><br>
      <%= address.address1 %><br>
      <%= "#{address.city}, #{address.state}, #{address.country.try(:name)}" %><br>
      <%= "〒 #{address.zipcode}" %><br>
    </div>
  </div>
  <span>Email:</span><a href="mailto:<%= order.email %>"><%= order.email %></a><br>
  <span>Phone:</span><%= address.phone %>
</address>