<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger container">
      <strong>The form contains <%= pluralize(object.errors.count, "error") %>.</strong>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li>・<%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>