<!-- BANNER -->
<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li>
          <%= image_tag("home/banner-slider/slider_bags.jpg", :alt => "top image", data:{ bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat" }) %>
        </li>
        <li>
          <%= image_tag("home/banner-slider/slider_shirts.jpg", :alt => "top image", data:{ bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat" }) %>
        </li>
        <li>
          <%= image_tag("home/banner-slider/slider_store.jpg", :alt => "top image", data:{ bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat" }) %>
        </li>
      </ul>
    </div>
  </div>
</div>