<%= render "banner_images" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <%= render partial:"popular_category", collection: @categories, as: :taxon %>
    </div>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <%= render partial: "potepan/products/product", collection: @new_products, locals: { layout: "slider" } %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/partners_logo_slider" %>