<%= @address.full_name %>様
(注文番号:<%= @order.number %>)

この度は、<%= @store.name %>をご利用いただき、誠にありがとうございます。
今回ご注文いただいた内容は、以下のとおりでございます。ご確認くださいませ。
========================================

【お届け先】
<%= @address.full_name %>
<%= @address.address1 %>
<%= "#{@address.city}, #{@address.state}, #{@address.country.try(:name)}" %>
<%= "〒 #{@address.zipcode}" %>
メールアドレス:<%= @order.email %>
電話番号:<%= @address.phone %>

【ご注文内容】
<% @order.line_items.each do |line_item| %>
----------------------------------------
  <%= line_item.name %>
  数量:<%= line_item.quantity %>
  単価:<%= line_item.single_money %>
  金額:<%= line_item.display_amount unless line_item.quantity.nil? %>
----------------------------------------
<% end %>

【お会計】
小計:<%= @order.display_item_total %>
消費税:<%= @order.display_tax_total %>
総計:<%= @order.display_total %>

----------------------------------------

※ご利用いただいたサイトの購入処理はテストモードでございます。
実際にご注文いただいた商品が届くこと、料金のお引き落としが行われることはございませんので、ご了承くださいませ。

========================================
またのご利用をお待ちしております！
<%= @store.name %>