<h3><%= @address.full_name %>様<br>(注文番号:<%= @order.number %>)</h3>
<div>この度は、<%= @store.name %>をご利用いただき、誠にありがとうございます。</div>
<div>今回ご注文いただいた内容は、以下のとおりでございます。ご確認くださいませ。</div>
<hr style="margin:20px 10px;">
<article style="margin:10px;">
  <div>
    <h4>お届け先</h4>
    <div>
      <div>
        <strong><%= @address.full_name %></strong><br>
        <%= @address.address1 %><br>
        <%= "#{@address.city}, #{@address.state}, #{@address.country.try(:name)}" %><br>
        <%= "〒 #{@address.zipcode}" %><br>
      </div>
    </div>
    <span>メールアドレス:</span><a href="mailto:<%= @order.email %>"><%= @order.email %></a><br>
    <span>電話番号:</span><%= @address.phone %>
  </div>
  <div>
    <h4>ご注文内容</h4>
    <% @order.line_items.each do |line_item| %>
      <section style="margin:10px;">
        <strong><%= line_item.name %></strong><br>
        <div>数量:<%= line_item.quantity %></div>
        <div>単価:<%= line_item.single_money %></div>
        <div>金額:<%= line_item.display_amount unless line_item.quantity.nil? %></div>
      </section>
    <% end %>
  </div>
  <div>
    <h4>お会計</h4>
    <div>小計:<%= @order.display_item_total %></div>
    <div>消費税:<span><%= @order.display_tax_total %></span></div>
    <div>総計:<span><%= @order.display_total %></span></div>
  </div>
</article>
<hr style="margin:20px 10px;">
<div>
  <div style="margin:20px 10px;">
    <small>
      ※ご利用いただいたサイトの購入処理はテストモードでございます。<br>
      実際にご注文いただいた商品が届くこと、料金のお引き落としが行われることはございませんので、ご了承くださいませ。
    </small>
  </div>
  <hr style="margin:20px 10px;">
  <div>またのご利用をお待ちしております！</div>
  <div><%= @store.name %></div>
</div>