// submit button for checkout function

.stepsWrapper .innerWrapper .well .pager li {
  .next_state {
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    height: 45px;
    line-height: 45px;
    background-color: #47bac1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #4794c1;
      color: #ffffff;
    }
    @media (max-width: 479px) {
      width: 100%;
      margin-bottom: 0;
    }
    @media (min-width: 480px) {
      width: 136px;
      margin: 0;
    }
  }
}

.pager .next > .next_state {
  float: right;
}

// display address

.address_details {
  padding: 0 1.2em;
  margin: 0.3em 0;
  line-height: 1.7;
  border-left: solid 5px darken(#47bac1, 50%);
  div {
    margin: 0;
    padding: 0;
  }
}

// alert

.alert-notice {
  color:#3c763d;
  background-color:#dff0d8;
  border-color:#d6e9c6;
  hr {
    border-top-color:#c9e2b3;
  }
}

.alert-error{
  color:#a94442;
  background-color:#f2dede;
  border-color:#ebccd1;
  hr{
    border-top-color:#e4b9c0;
  }
}
