<div class="col-xs-12">
  <div class="page-header">
    <h4>入力フォーム</h4>
  </div>
</div>
<%= order_form.fields_for :ship_address do |ship_form| %>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :firstname, "姓" %>
    <%= ship_form.text_field :firstname, placeholder: "例) 山田", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :lastname, "名" %>
    <%= ship_form.text_field :lastname, placeholder: "例) 花子", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= order_form.label :email, "メールアドレス" %>
    <%= order_form.email_field :email, placeholder: "例) user@example.com", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :zipcode, "郵便番号" %>
    <%= ship_form.text_field :zipcode, placeholder: "例) 1234567", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :state, '都道府県' %>
    <%= ship_form.collection_select :state_id, order.ship_address.country.states, :id, :name, {}, { class: "form-control" } %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :city, "市町村" %>
    <%= ship_form.text_field :city, placeholder: "例) 新宿区", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :address1, "番地・マンション名" %>
    <%= ship_form.text_field :address1, placeholder: "例) １丁目 〇〇マンション101号室", class: "form-control" %>
  </div>
  <div class="form-group col-sm-6 col-xs-12">
    <%= ship_form.label :phone, "電話番号" %>
    <%= ship_form.telephone_field :phone, placeholder: "例) 09012345678", class: "form-control" %>
  </div>
<% end %>