<% variant = line_item.variant %>
<tr>
  <td class="col-xs-2">
    <span class="cartImage">
      <%= image_tag(line_item.image_pickup.url(:small), :alt => "image") %>
    </span>
  </td>
  <td class="col-xs-4"><%= link_to line_item.name, potepan_product_path(variant.product.id) %></td>
  <td class="col-xs-2"><%= line_item.single_money %></td>
  <td class="col-xs-2"><%= line_item.quantity %></td>
  <td class="col-xs-2"><%= line_item.display_amount unless line_item.quantity.nil? %></td>
</tr>