<div class="col-xs-12">
  <div class="page-header">
    <h4>入力内容確認</h4>
  </div>
</div>
<div class="col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">お届け先情報</h4>
    </div>
    <div class="panel-body">
      <%= render "shared/address", address: order.ship_address, order: order %>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="cartListInner">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>価格</th>
            <th>数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "checkout_item", collection: order.line_items, as: :line_item %>
        </tbody>
      </table>
    </div>
    <%= render "shared/check_amount", order: order %>
  </div>
</div>