<% param_prefix = "payment_source[#{payment_method.id}]" %>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "name_on_card_#{payment_method.id}", "カード名義人" %>
  <%= text_field_tag "#{param_prefix}[name]", '', placeholder: "例) YAMADA HANAKO", class: "form-control" %>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_number", "カード番号 ( 以下、テスト用カード番号をお使いください )" %>
  <%= text_field_tag "#{param_prefix}[number]", '4222 2222 22222', placeholder: "テスト番号) 4222 2222 22222", class: "form-control" %>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_expiry", "有効期限" %>
  <div class="row">
    <div class="col-xs-6">
      <span class="step-drop">
        <%= select_tag "#{param_prefix}[month]", options_for_select((01..12).to_a), class: "select-drop" %>
      </span>
    </div>
    <div class="col-xs-6">
      <span class="step-drop">
        <%= select_tag "#{param_prefix}[year]", options_for_select([*(Time.current.year)..(Time.current.year + 9)]), class: "select-drop" %>
      </span>
    </div>
  </div>
</div>
<div class="form-group col-sm-6 col-xs-12">
  <%= label_tag "card_code", "セキュリティコード" %>
  <%= password_field_tag "#{param_prefix}[verification_value]", '', class: "form-control" %>
</div>
<% if order.bill_address %>
  <%= fields_for "#{param_prefix}[address_attributes]", order.bill_address do |bill_form| %>
    <%= render 'form_hidden', form: bill_form %>
  <% end %>
<% end %>
<%= hidden_field_tag "#{param_prefix}[cc_type]", '', id: "setting_cc_type" %>