<div class="col-xs-12">
  <div class="page-header">
    <h4>お支払い方法</h4>
  </div>
</div>
<% credit_card = order.pay_by_credit_card %>
<%= hidden_field_tag "order[payments_attributes][][payment_method_id]", credit_card.id, id: "setting_payment_method" %>
<%= render credit_card.partial_name, order: order, payment_method: credit_card %>