<div class="col-xs-12">
  <div class="well well-lg clearfix">
    <ul class="pager">
      <li class="previous">
        <%= link_to "戻る", order.address? ? potepan_cart_path : potepan_checkout_state_path(order.previous_state) %>
      </li>
      <li class="next">
        <%= order_form.submit order.confirm? ? "購入確定" : "次へ", class: "next_state" %>
      </li>
    </ul>
  </div>
</div>