<% provide :title, "Checkout" %>
<%= render "shared/error_messages", object: @order %>
<%= render "shared/light_section", article_title: "ご購入のお手続き" %>
<section class="mainContent clearfix stepsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <%= render "status_bar", order: @order %>
          <%= form_with model: @order, url: potepan_update_checkout_path(@order.state), local: true do |order_form| %>
            <%= render @order.state, order_form: order_form, order: @order %>
            <%= render "submit_section", order_form: order_form, order: @order%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>