<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs"></div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li></li>
            <%= render "layouts/search_box" %>
            <li class="dropdown">
              <%= link_to potepan_cart_path, class: "cart_link" do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to potepan_root_url, class:"navbar-brand"  do %>
          <%= image_tag("img/logo.png", :alt => "") %>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Home", potepan_root_url %>
          </li>
          <li>
            <%= link_to "Products", go_to_products_page %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>