<li class="dropdown searchBox">
  <a href="javascript:void(0)" class="dropdown-toggle searchForm" data-toggle="dropdown"><i class="fa fa-search"></i></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <%= form_with id: "form01", url: search_potepan_products_path, method: :get, local: true do |f| %>
        <span class="input-group">
          <%= f.text_field :search, class:"form-control", placeholder:"Search…", aria: { describedby: "basic-addon2" } %>
          <button><span onClick="form01.submit();" class="input-group-addon addPointer" id="basic-addon2">検索</span></button>
        </span>
      <% end %>
    </li>
  </ul>
</li>