<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/meta_tags" %>
    <%= render "layouts/stylesheet_link_tags" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="main-wrapper">
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/signup_modal" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
